*{margin: 0;padding: 0;font-family:PingFangHK-Regular;font-size:14px;color:#2b2b2b;}
/*清楚浮动*/
.clearfix:after{content: "";height: 0;line-height: 0;display: block;visibility: hidden;clear: both;}
/*.drag{width: 908px;height: 30px;background: #bad2ea;position: absolute;-webkit-app-region: drag;border-radius: 10px;}*/

button,select{cursor: pointer;}
input[disabled],.setting .dataselect[disabled],button[disabled]{color: graytext;cursor: default;}/*设置不可用样式*/

.wrap{box-sizing: border-box;height: 676px;width: 892px;padding: 18px 14px;background:#F8F8F8;}

.setting{height: 34px;margin-left: 7px;}
.setting>span:not(:last-child){margin-right: 15px;}
.setting .dataselect{width: 110px;height: 22px;-webkit-appearance:none;/*很关键：将默认的select选择框样式清除*/border-radius:2px;outline: none;padding-left: 5px;background: url(../img/select.png) 92px 5px no-repeat;background-color: #f8f8f8;}

.control-area{margin-bottom: 10px;}
.control-area fieldset{box-sizing: border-box;border:1px solid #dadada;border-radius: 6px;width: 864px;height: 98px;padding: 7px 21px 16px;}
.control-area legend{padding: 0 4px;margin-left: 17px;}
.control-area .left,.right{height: 58px;}
.control-area .left{float: left;width: 418px;}
.control-area .right{float: right;width: 370px;}
.control-area .left label{box-sizing: border-box;display: inline-block;width: 84px;margin-right: 15px;}
.control-area .left .alignment{box-sizing: border-box;display: inline-block;width: 270px;margin-right: 10px;}
.control-area .left input{border-radius: 4px;padding-left: 5px;box-sizing: border-box;width: 190px;height: 24px;outline: none;line-height: normal;margin-right: 14px;float: left;}
.control-area .left button{box-sizing: border-box;width: 64px;height: 24px;outline: none;border-radius: 4px;}
.control-area .left .devIdsetting{margin-bottom: 9px;}

.control-area .right .openArea{position: relative;display: inline-block;width: 106px;height: 54px;}
#open,#close{box-sizing: border-box;width: 106px;height: 54px;color:#313B42;background-color: #62ABE3;border-radius: 10px;outline: none;font-size: 16px;}
#open{background-color: #62ABE3;}
#close{position: absolute;top: 0;left: 0;display: none;background-color: #94c372;}
.control-area .right .functionArea{float: right;width: 238px;height: 56px;}
.control-area .right .functionArea button{box-sizing: border-box;width: 66px;height: 24px;outline: none;border-radius: 4px;}
.control-area .right .functionArea button:nth-child(2),.control-area .right .functionArea button:nth-child(5){margin:0 16px;}
.control-area .right .functionArea button:nth-child(1),.control-area .right .functionArea button:nth-child(2),.control-area .right .functionArea button:nth-child(3){margin-bottom: 8px;}

.show{box-sizing: border-box;width: 864px;height: 502px;}
.show .show-btn{box-sizing: border-box;width: 862px;height: 32px;margin-left: 16px;}
.show .show-btn ul{}
.show .show-btn li{cursor: pointer;color: #2b2b2b;margin-top: 2px;box-sizing: border-box;display: inline-block;background: #E8E8E8;width: 106px;height: 32px;line-height: 32px;text-align: center;border: 1px solid #bfbfbf;border-radius: 4px;float: left;}
.show .show-btn li:not(:first-child){margin-left: -1px;}
.show .show-btn .active{background: #F8F8F8;border-bottom: none;border-radius: 4px 4px 0 0;height:29px;margin-top: 4px;}

.show .show-window{box-sizing: border-box;width: 864px;height: 470px;border: 1px solid #dadada;border-radius: 4px;}
.show .show-window .fun-win{display: none;margin: 16px;}
.show .show-window .assistant{box-sizing: border-box;width: 830px;height: 438px;}
.show .show-window .assistant .receive{box-sizing: border-box;width: 830px;height: 206px;}
.show .show-window .assistant .receive .receiveIpu{box-sizing: border-box;width: 700px;height: 206px;float: left;}
/*.show .show-window .assistant .receive .receiveIpu span{background: #ebebe4;display: inline-block;text-align:justify;overflow:auto;color: #29A729;border-radius: 4px;padding: 4px 6px 6px 6px;box-sizing: border-box;width: 700px;height: 180px;margin-top: 6px;border:1px solid #a9a9a9;word-wrap:break-word;}*/
.show .show-window .assistant .receive .receiveIpu textarea{resize: none;text-align:justify;overflow:auto;color: #29A729;border-radius: 4px;padding: 4px 6px 6px 6px;box-sizing: border-box;width: 700px;height: 170px;margin-top: 6px;border:1px solid #a9a9a9;word-wrap:break-word;}
#curtextReceive{position: relative;top: -220px;}
.show .show-window .assistant .receive .ceceiveSet{box-sizing: border-box;width: 106px;height: 120px;float: right;margin-top: 70px;}
.show .show-window .assistant label{vertical-align:middle;padding-left: 5px;}
#showHex,#showTime,#sendHex{display: inline-block;width:16px;height: 16px;vertical-align:middle;}
/*.chkBg{margin-bottom: 6px;background-color: #666;}*/
.chkBg{margin-bottom: 6px;}
.chkBg label{color: graytext;}
#pauseReceive,#clearReceive,#startReceive,#clearSend,#send,#introSend{box-sizing: border-box;width: 104px;height: 34px;outline: none;height:32px;border-radius:4px;}
.ceceiveSet{position: relative;}
#startReceive{position: absolute;top: 50px;visibility: hidden;}
#pauseReceive,#clearSend{margin-bottom: 6px;}
.show .show-window .assistant .line{box-sizing: border-box;width: 840px;height: 2px;border:1px solid #dadada;margin: 16px 0px 12px -6px;}
.show .show-window .assistant .send {box-sizing: border-box;width: 830px;height: 126px;}
.show .show-window .assistant .send .sendIpu {box-sizing: border-box;width: 700px;height: 126px;float: left;}
.show .show-window .assistant .send .sendIpu textarea {color: #069;border-radius: 4px;padding: 5px;box-sizing: border-box;width: 700px;height: 100px;margin-top: 6px;}
.show .show-window .assistant .send .sendSet {box-sizing: border-box;width: 106px;height: 95px;float: right;margin-top: 27px;}
.show .show-window .assistant .intro {box-sizing: border-box;width: 830px;}
.show .show-window .assistant .intro span {box-sizing: border-box;display: inline-block;text-align: center;}
.show .show-window .assistant .intro span:not(:first-child) {margin-left: 14px;}
.show .show-window .assistant .intro span:last-child {margin-left: 22px;}
.show .show-window .assistant .intro span input {box-sizing: border-box;outline: none;border-radius: 4px;padding-left: 5px;}
.show .show-window .assistant .intro span:nth-child(1) {width: 130px;height: 24px;}
.show .show-window .assistant .intro span:nth-child(2) {width: 130px;height: 24px;}
.show .show-window .assistant .intro span:nth-child(3) {width: 404px;height: 24px;}
.show .show-window .assistant .intro span:nth-child(1)>input {width: 130px;height: 24px;}
.show .show-window .assistant .intro span:nth-child(2)>input {width: 130px;height: 24px;}
.show .show-window .assistant .intro span:nth-child(3)>input {width: 404px;height: 24px;}


.show .show-window .relay{box-sizing: border-box;width: 814px;height: 444px;margin: 36px auto 0;}
.show .show-window .relay .relay-setting{box-sizing: border-box;width: 498px;height: 200px;float: left;}
.relay-setting>div{}
.relay-setting input{box-sizing: border-box;width: 296px;height: 28px;outline: none;border-radius: 4px;padding-left: 5px;margin-bottom: 20px;}
.relay-setting button{box-sizing: border-box;width: 66px;height: 28px;outline: none;border-radius: 4px;margin-right: 10px;}
#mac{margin-left: 5px;margin-right: 12px;}
#calibration{margin-left: 9px;margin-right: 12px;}
#serverip1{margin-left: 11px;}
#serverip2{margin-left: 73px;}
#serverip3{margin-left: 73px;margin-right: 12px;}
#port{margin-left: 38px;margin-right: 12px;}
#nodeIp{width:88px; margin-left: 10px;}
#nodeNum{width:186px;margin-left: 4px;margin-right: 12px;}

.show .show-window .relay .relay-show{box-sizing: border-box;width: 288px;height: 200px;float: right;}
#devIdIpt{box-sizing: border-box;width: 288px;height: 222px;margin-top: 8px;outline: none;border-radius: 4px;resize: none;padding: 5px;}
.show .show-window .relay .relay-show button{box-sizing: border-box;width: 105px;height: 34px;outline: none;border-radius: 5px;margin-top: 10px;}
.show .show-window .relay .relay-show div button:nth-child(1){margin-right: 30px;}
